body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49237");
}

body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49237");
}

h1{
  font-size: 60px;
  font-family: Arial, serif;
}
footer{
  font-size: 60px;
  font-family: Arial, serif;

}
header{
  background-color: #3b82f6;
}

footer{
  background-color: #008148;
}
